.App {
  text-align: center;
  background-color: whitesmoke;
}

.navbar {
background-color: rgb(211, 211, 211);
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 1.5em;
margin: 2em;
border-radius: 0.5em;
}

.navlinks {
  display: flex;
  font-size: 24px;
  text-decoration: none;
}

.footer {
  border-top: .1em solid grey;
  margin: 2em;
}

/* Home Page */

.abTitle{

  text-align: left;
  font-size: 20px;
}
 .aboutMe {
  
   text-align: left;
 }

 .sideBlurb {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 25%;
   margin: 3em;

 }

/* Florida Man */

.pageHeader {
  margin: 3em;
}

.FLblurb {
  margin: 2em;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: rgb(223, 223, 223);
}

.dateheader {
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
  margin-bottom: -1.5em;
  font-size: 20px;
}

.bodylines {
  font-weight: normal;
  margin: 2em;
  text-align: left;
  padding-right: 8em;
}